<div id="content">
</div>

<script>
  var assets = {
    filledHeart: "<%= asset_path("filled-heart.png") %>",
    emptyHeart: "<%= asset_path("empty-heart.png") %>",
    bgimage: "<%= asset_path("signin-background.jpg") %>",
    uploading_image: "<%= asset_path("uploading_image.gif") %>",
    uploaded_image: "<%= asset_path("uploaded_image.png") %>",
    listview_icon: "<%=asset_path("listview-icon.png")%>",
    gridview_icon: "<%=asset_path("gridview-icon.png")%>",
    menu_icon :"<%=asset_path("button.png")%>",
    loading: "<%=asset_path("loading.gif")%>"
  }


</script>
